<div class="sw-hero__metrics">
  <div class="sw-hero__metric">
    <div class="sw-hero__metric-num display">4.280+</div>
    <div class="sw-hero__metric-label">{{ 'sections.hero.metric_systems_label' | t }}</div>
    <div class="sw-hero__metric-sub mono">{{ 'sections.hero.metric_systems_sub' | t }}</div>
  </div>
  <div class="sw-hero__metric">
    <div class="sw-hero__metric-num display">{{ 'sections.hero.metric_shipping_num' | t }}</div>
    <div class="sw-hero__metric-label">{{ 'sections.hero.metric_shipping_label' | t }}</div>
    <div class="sw-hero__metric-sub mono">Wiener Neustadt</div>
  </div>
  <div class="sw-hero__metric">
    <div class="sw-hero__metric-num display">{{ 'sections.hero.metric_warranty_num' | t }}</div>
    <div class="sw-hero__metric-label">{{ 'sections.hero.metric_warranty_label' | t }}</div>
    <div class="sw-hero__metric-sub mono">{{ 'sections.hero.metric_warranty_sub' | t }}</div>
  </div>
</div>
